.modal-wrapper {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 340px;
    text-align: center;
    background-color: #432275;
    border-radius: 8px;
    padding: 20px 10px;

    .notification {

        &-title {
            font-size: 20px;
            color: #fff;
            margin-bottom: 10px;
            font-weight: 700;
        }

        &-description {
            color: #ffffff80;
        }

        &-login {
            background-color: #f8e71c;
            border-radius: 999px;
            color: #323233;
            margin-top: 25px;
            font-weight: 500;
            padding: 8px 25px;
            font-size: 14px;
        }
    }

    #close-notification-vip {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 1.2rem;
        cursor: pointer;
    }
}