.category-podcast {
    color: #fff;
    margin-top: 30px;

    &__title {
        padding-left: 12px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__wrapper {
        overflow: hidden;
        border-radius: 8px;

        &__img {
            padding-top: 56%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 8px;
            overflow: hidden;
            transition: all 0.8s ease;
        }
    
        &__img:hover {
            transition: all 1.2s ease;
            opacity: 0.8;
            transform: scale(1.1);
        }
    }
}