.favorite-artist {
    color: #fff;
    margin-bottom: 30px;

    &__title {
        padding-left: 12px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__card {
        position: relative;

        &-wrapper {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            cursor: pointer;

            &-img {
                padding-top: 120%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 8px;
                transition: all 0.8s ease;
            }

            &-img:hover {
                transform: scale(1.1);
                opacity: 0.4;
                transition: all 1.2s ease;
            }
        }

        &-box {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 16px;
            left: 50%;
            transform: translateX(-50%);

            &__name {
                font-weight: 700;
                font-size: 21px;
                line-height: 29px;
                white-space: nowrap;
                margin-bottom: 12px;
            }

            &__container {
                width: 52px;
                height: 52px;
                cursor: pointer;

                &-img {
                    padding-top: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 5px;
                }
            }

            /* Mobile & tablet */
            @media (min-width: 1024px) {}

            /* Tablet */
            @media (min-width: 740px) and (max-width: 1023px) {

                &__container {
                    width: 46px;
                    height: 46px;
                }
            }

            /* Mobile  */
            @media (max-width: 739px) {

                &__name {
                    font-size: 18px;
                }

                &__container {
                    width: 40px;
                    height: 40px;
                }
            }

        }

    }
}