.topic {
    color: #fff;

    &-title {
        text-transform: capitalize;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
    }

    &-wrapper {
        cursor: pointer;
        position: relative;

        &__thumbnail {
            width: 100%;

            &-img {
                padding-top: 56%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 8px;
            }
        }

        &-playlist {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            bottom: 8px;
            transform: translateX(-50%);
            left: 50%;

            &__box {
                width: 48px;
                margin-right: 6px;

                &-item {
                    padding-top: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 4px;
                }
            }
        }
    }

    /* Mobile & tablet */
    @media (min-width: 1023px) {}

    /* Tablet */
    @media (min-width: 740px) and (max-width: 1023px) {}

    /* Mobile  */
    @media (max-width: 739px) {
        &-title {
            margin-bottom: 12px;
            font-size: 1.2rem;
        }

        &-wrapper {

            &__thumbnail {

                &-img {
                    padding-top: 60%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 8px;
                }
            }

            &-playlist {
                bottom: 4px;

                &__box {
                    width: 32px;
                    margin-right: 6px;

                    &-item {
                        padding-top: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

.nation {
    color: #fff;

    &-title {
        text-transform: capitalize;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
    }

    &-wrapper {
        cursor: pointer;
        position: relative;

        &__thumbnail {
            width: 100%;

            &-img {
                padding-bottom: 70%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 8px;
            }
        }

        &-title {
            position: absolute;
            bottom: 16px;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 26px;
            font-weight: 700;
            line-height: normal;
            text-shadow: 0 2px 5px rgb(0 0 0 / 30%);
            color: #fff;
        }
    }

    /* Mobile & tablet */
    @media (max-width: 1133px) {}

    /* Tablet */
    @media (min-width: 740px) and (max-width: 1133px) {
        &-wrapper {
            &__thumbnail {

                &-img {
                    padding-bottom: 56%;
                }
            }
        }
    }

    /* Mobile  */
    @media (max-width: 739px) {
        &-title {
            margin-bottom: 12px;
            font-size: 1.2rem;
        }

        &-wrapper {

            &-title {
                bottom: 10px;
                font-size: 20px;
            }
        }
    }
}

.genre-detail-banner {
    margin: 0 -59px;
    position: relative;

    &__img {
        padding-top: 30%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__blur {
        height: 100px;
        width: 100%;
        background-image: linear-gradient(transparent, rgb(23 15 35 / 5%), rgb(23 15 35 / 10%), rgb(23 15 35 / 20%), rgb(23 15 35 / 40%), rgb(23 15 35 / 60%), rgb(23 15 35 / 80%), rgb(23 15 35));
        position: absolute;
        bottom: 0;
    }

    /* Mobile & tablet */
    @media (max-width: 1133px) {}

    /* Tablet */
    @media (min-width: 740px) and (max-width: 1133px) {
        margin: 0 -30px;

        &__img {
            padding-top: 36%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    /* Mobile  */
    @media (max-width: 739px) {
        margin: 0 -10px;

        &__img {
            padding-top: 40%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.genre-detail-wrapper {
    position: relative;
    top: -16px;
    padding-bottom: 30px;

    /* Mobile & tablet */
    @media (max-width: 1133px) {}

    /* Tablet */
    @media (min-width: 740px) and (max-width: 1133px) {
        padding-bottom: 26px;
    }

    /* Mobile  */
    @media (max-width: 739px) {
        padding-bottom: 20px;
    }
}