.header {
    background-color: #170f23;
    position: fixed;
    left: 240px;
    width: calc(100% - 240px);
    padding: 0 60px;
    z-index: 99;
    justify-content: space-between;

    /* Mobile & tablet */
    @media (min-width: 1023px) {}

    /* Tablet */
    @media (min-width: 740px) and (max-width: 1023px) {
        width: calc(100% - 70px);
        left: 70px;
        padding: 0 30px;
    }

    /* Mobile  */
    @media (max-width: 739px) {
        width: 100%;
        left: 0;
        padding: 0 10px;
    }

    .headerPadding {
        margin: 15px 0;
        position: relative;
        flex: 1;
        max-width: 540px;
    }

    .headerInput {
        width: 100%;
        height: 40px;
        background-color: #2f2739;
        border-radius: 40px;
        border: none;
        box-shadow: none;
        padding: 16px;
        color: #fff;
    }

    .headerInput:focus-visible {
        outline: none;
    }

    .headerBtn {
        background-color: #170f23;
        margin: 15px 0;
        border: none;
        color: #5C5765;
        font-size: 1.3rem;
        cursor: pointer;
    }

    .headerRight {
        padding: 15px 0 15px 24px;
        display: flex;
        min-width: 100px;
    }

    .settingItem {
        margin-right: 10px;
        background-color: #2F2739;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        overflow: hidden;
    }

    .settingImage {
        width: 40px;
        height: 40px;
    }

    .headerSearchTitle {
        font-size: 14px;
        font-weight: 700;
        padding: 0 10px 8px;
        display: flex;
        justify-content: space-between;
    }

    .headerRecommendKeyword {
        position: absolute;
        overflow: hidden;
        width: 100%;
        min-height: 0;
        background-color: #432275;
        z-index: 5;
        display: block;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
        padding: 13px 10px;
        color: #fff;
        list-style: none;
        display: none;
        cursor: pointer;
        max-height: auto;
        transition: all 0.3s ease-in;
    }

    .headerRecommendKeywordListItem {
        max-height: calc(100vh - 180px);
        overflow-y: auto;
    }

    .headerRecommendKeywordListItem::-webkit-scrollbar {
        display: none;
    }

    .headerRecommendKeywordIcon {
        font-size: 14px;
        color: #ffffff80;
        position: relative;
        top: 3px;
        margin-right: 10px;
    }

    .headerRecommendKeywordItem:hover {
        background-color: #ffffff1a;
    }

    .headerSuggestThumbnail {
        width: 40px;
    }

    .headerSuggestThumbnailImg {
        padding-top: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .headerMenu {
        display: none;
    }
}