/* Mobile & tablet */
@media (min-width: 1133px) {
    .navbar-responsive {
        display: none;
    }

    .navbar-no-responsive {
        display: block;
    }

    .header-navigate {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1133px) {

    // responsive navbar
    .navbar-responsive {
        display: block;
        width: 70px !important;
    }

    .navbar-logo {
        width: 45px;
        height: 45px;
    }

    .navbar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 0;
    }

    .navbar-icon {
        font-size: 24px;
    }

    .navbar-no-responsive {
        display: none;
    }

    // responsive header
    .header-btn-upload {
        display: none;
    }

    .header-navigate {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // genre
    .genre-banner {
        height: 220px;
    }

    .genre-duration {
        display: none;
    }

     //wrapper
     .search-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;

        &-title {
            margin-left: 24px !important;
        }

        &-filter {
            display: flex;

            &--item {
                margin-left: 24px !important;
            }
        }
    }
}

/* Mobile  */
@media (max-width: 739px) {

    // responsive navbar
    .navbar-responsive {
        display: none;
        width: 70px;
    }

    .navbar-logo {
        width: 70px;
        height: 54px;
    }

    .navbar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 0;
    }

    .navbar-icon {
        font-size: 24px;
    }

    .navbar-no-responsive {
        display: none !important;
    }

    // responsive header

    .header-right {
        display: none !important;
    }

    .header-navigate {
        display: none !important;
    }

    .header-menu {
        display: block !important;
    }

    // menu
    .menu-overlay {
        position: fixed;
        z-index: 997;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffff1a;
        display: none;
    }

    .menu {
        position: fixed;
        background-color: #432275;
        top: 0;
        bottom: 0;
        left: -300px;
        z-index: 999;
        width: 300px;
        transition: all linear 0.3s;

        &-navbar {

            &-logo {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 8px 0;
            }

            &-link {
                text-decoration: none;
                color: #fff;
                display: block;
                padding: 8px 0 8px 20px;
            }

            &-link:hover {
                color: #fff;
                background-color: #ffffff1a;
            }
        }

        &-close {
            position: absolute;
            top: 18px;
            right: 16px;
            font-size: 1.2rem;
            color: #ffffff80;
            cursor: pointer;
        }
    }

    // zing chart
    .chart-center {
        display: none;
    }

    .chart-right {
        display: none;
    }

    .chart-title {
        font-size: 26px !important;
    }

    .chart-left {
        width: auto !important;

        &-count {
            font-size: 24px !important;
            min-width: 30px !important;
        }

        &-rank {
            display: none;
        }
    }

    .chart-no-responsive {
        display: none;
    }

    // genre
    .genre-banner {
        height: 120px;
    }

    // new music
    .new-music {
        padding-top: 20px !important;

        &-title {
            font-size: 36px !important;
        }
    }

    // hot song trong detail nations
    .hot-song {
        padding: 0 0 10px 0 !important;
    }

    // follower
    .follower {
        font-size: 12px;
        color: #88848E;
        font-weight: 500;
    }

    //wrapper
    .search-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;

        &-title {
            margin-left: 16px !important;
        }

        &-filter {
            display: flex;

            &--item {
                margin-left: 16px !important;
            }
        }
    }
}